<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue3</title>

    <!-- must link in head because we need vue before html load  -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        .box {
            background-color: aqua;
            padding: 100px;
            display: inline-block;
            margin: 30px;
        }
    </style>
</head>
<body>
    <h1>Vue3 Learning</h1>
    <div id="app">
        <div v-if="showBook">
            <div v-for="book in books">
                <p>Book - {{book.title}}</p>
                <p>Author - {{book.author}}</p>
                <p>Age - {{book.age}}</p>
            </div>
        </div>

        <button @click="showBook=!showBook">
            <span v-if="!showBook">show</span>
            <span v-if="showBook">hide</span>
        </button>

        <a :href="link">Google</a>
    </div>

    <script src="app.js"></script>
</body>
</html>